<!DOCTYPE html>
<html>
  <head>
    <title>EJS Demo!</title>
  </head>
  <body>
    <h1>Welcome To Grocery Store!</h1>
    <nav>
      <ul>
        <li><a href="/list">My List Page</a></li>
        <li><a href="/quantities">My Quanitites Page</a></li>
      </ul>
    </nav>
  </body>
</html>